.board{
  width: 900px;
  height: 900px;
  background-image: url('../images/board.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center; /* Center the image */
}
